@using ClassroomHub.Web.ViewModels;
@model DeliveryViewModel;


<div class="row">
    <div class="col-4 mt-2 ">
        <button type="button" data-toggle="modal" data-target="#viewSolution"><i class="fa fa-glass" style="padding:5px; width:120px;"></i></button>
    </div>
</div>

<div class="modal fade" id="viewSolution" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title">Solução</h5>
                <button type="button" class="close text-dark" data-dismiss="modal" aria-label="Close">
                    <span style="text-decoration: none; color: black;" aria-hidden="true">&times;</span>
                </button>
            </div>

            <form method="post" asp-action="Correct">
                @{
                    var entrega = Model;
                    <div class="modal-body">
                            <div clas="row mt-3">
                                <div class="col-md-12">
                                    @Html.DisplayNameFor(x => entrega.Solution)
                                    @Html.TextAreaFor(x => entrega.Solution, new{@class="form-control mt-3", @readonly=true})
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12">
                                @Html.TextBoxFor(x => entrega.DueDate, new{Placeholder="Data de entrega",@class="form-control mt-3",@readonly=true})
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12">
                                @Html.TextBoxFor(x => entrega.Score, new{type="Number", Placeholder="Avalie",@class="form-control mt-3",@readonly=true})
                                </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Finalizar</button>
                    </div>
                    }
                }
            </form>
        </div>
    </div>
</div>