@using ClassRoomHub.Web.ViewModels;
@using ClassroomHub.Web.ViewModels;
@model IEnumerable<DeliveryViewModel>
@{
    ViewData["Title"] = "Atividades à corrigir";
}
<div class="ActivityContainer">
    <div class="Activity">
        <h2 class="text-center">Atividades para corrigir</h2>
        <div class="itens">
            <table class="table table-borderless table-dark">
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Pontos</th>
                        <th>Modulo</th>
                    </tr>
                </thead>
                @{
                    if (Model.Any())
                    {
                        foreach (var delivery in Model)
                        {
                           
                        
                            <tbody>
                                <tr>
                                    <td>@Html.DisplayFor(x => delivery.Score)</td>
                                    <td>@Html.DisplayFor(x => delivery.ModuleName)</td>
                                </tr>
                            </tbody>
                            <partial name="_solution" model="new DeliveryViewModel()"/>
                        }
                    }
                    else
                    {
                        <tbody>
                            <tr>
                                <td>Não há atividades</td>
                            </tr>
                        </tbody>
                    }
                }
            </table>
        </div>
    </div>
</div>