@using ClassroomHub.Web.ViewModels;
@model ActivityCompairVM;
@{
    var teachers = (SelectList)ViewBag.Teachers;
    var students = (SelectList)ViewBag.Students;
    ViewData["Title"] = "Atividades";
}
<div class="ActivityContainer">
    <div class="Activity">
        <div class="row text-center">
            <div class="col-md-12">
                <form method="post" asp-action="teacherArea">
                    <h5 class="text-center">Area de Professor</h5>
                    @Html.TextBoxFor(x => x.TeacherName, new{Placeholder="Informe seu nome, professor.", @class="form-control"})
                    <button type="submit">Entrar</button>
                </form>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <form method="post" asp-action="studentArea">
                    <h5 class="text-center">Area de Aluno</h5>
                    @Html.TextBoxFor(x => x.StudentName, new{Placeholder="Informe seu nome, aluno.", @class="form-control"})
                    <button type="submit">Entrar</button>
                </form>
            </div>
        </div>
    </div>
</div>