

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position:absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
*{
    border:0;
    margin:0;
}
main{
    font-family: Helvetica, sans-serif;
}
.LoginContainer {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(28, 36, 29)
}
.RegisterContainer {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(28, 36, 29)
}
.login {
    background-color: rgb(0, 0, 0, 0.20);
    border-radius: 15px;
    padding: 20px;
    width: 500px;
    text-align: center;
}
.login h2 {
        margin-top: 0;
}
.login input[type="text"], .login input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
}
.RegisterContainer .login button {
    background-color: #45a049;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.LoginContainer .login button {
    background-color: #004798;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.RegisterContainer .login button:hover {
    background-color: #45a049;
}
 .LoginContainer .login button:hover {
    background-color: #1861ac;
}
.ActivityContainer, .StudentContainer {
    padding: 50px;
    height: 100vh;
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(28, 36, 29);
}
.Activity, .Student{
    padding: 20px;
    height: auto;
    border-radius: 15px;
    background-color: rgb(0, 0, 0, 0.20);
    justify-content: flex-start;
}
.itens{
    background-color:rgb(255, 255, 255);
    color: rgb(0,0,0);
    padding:5px;
    border-radius:10px;
}
.itens h3{
    justify-content:flex-end;
    margin-top:10px;
    padding:2px;
    color: #fff;
    border-radius:5px;
    background-color: rgb(0, 0, 0)
}
.dataActivity{
    display:flex;
    justify-content:space-between;
}
button{
    margin-left:2px;
    display:flex;
    background-color:rgb(0, 255, 99);
    border-radius:5px;
    cursor:pointer;
    transition: transform 0.3s ease;
}
button:hover {
    transform: scale(1.05);
    background-color: #45a049;
}
.box-footer p{
    margin-top:auto;
}

.Home {
    height: 100vh;
    margin: 0;
    display:flex;
    justify-content:space-between;
    align-items: center;
    color: white;
    background-color: rgb(28, 36, 29)
}
.news-card h1{
    background-color: black;
    border-top-right-radius:25px;
}
.news-card {
    text-align: center;
    margin-right:5%;
    height:60vh;
    width:60vh;
    background-color: #002c19ae;
    border-radius: 25px;
}
.news-card .form{
    display:flex;
    justify-content: center;
    margin-top: 70%;
}
.text-box{
    background-color: #ffffff12;
}
.enter {
    text-align: center;
    margin-top: 2%;
    margin-left: 5%;
    height: 60vh;
    width: 120vh;
    background-color: black;
    border-radius: 25px;
}
.enter p{
    background-color: white;
    transition: background-color 0.5s ease;
    color: black;
    padding: 10px;
    font-size: 20px;
}
.enter p:hover{
    cursor:pointer;
    background-color: rgb(0, 255, 60);
}
.enter a {
    text-decoration: none;
    color: black;
}

.CourseContainer {
    padding: 50px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(28, 36, 29);
}
.Course {
    padding: 50px;
    width: 120vh;
    border-radius: 15px;
    background-color: rgb(0, 0, 0, 0.20);
    justify-content: flex-start;
}
.course-edit {
    padding: 50px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(28, 36, 29);
}
.edit-content {
    padding: 50px;
    height: auto;
    width: 100vh;
    border-radius: 15px;
    background-color: rgb(0, 0, 0, 0.20);
    justify-content: flex-start;
}
.edit-content h5{
    padding: 10px;
    border-radius: 5px;
    background-color: black;
}

