@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div class="row text-center">
    <h4 class="text-danger">Error.</h4>
    <p class="text-danger">@Model.Message</p>
</div>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
