@using ClassRoomHub.Web.ViewModels;
@model StudentViewModel;

<div class="row">
    <div class="col-4 mt-2 ">
        <button type="button" data-toggle="modal" data-target="#createStudent"><i class="fa fa-plus" style="padding:5px; width:120px;"></i></button>
    </div>
</div>

<div class="modal fade" id="createStudent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title">Cadastrar Aluno</h5>
                <button type="button" class="close text-dark" data-dismiss="modal" aria-label="Close">
                    <span style="text-decoration: none; color: black;" aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-action="Create" asp-controller="Student">
                <div class="modal-body">
                @{
                        var classes = (SelectList)ViewBag.Turmas;
                        var users = (SelectList)ViewBag.Users;
                        if (!users.Any())
                        {
                            <div class="row m-2">
                                <span class="text-danger">Não há usuários disponíveis para criação de alunos.</span>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-outlined-success" asp-action="Index" asp-controller="Register">Cadastrar Usuário</a>
                            </div>
                        }
                        else if (!classes.Any())
                        {
                            <div class="row m-2">
                                <span class="text-danger">Não é possivel cadastrar alunos sem turmas.</span>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-outlined-success" asp-action="Index" asp-controller="Class">Criar Turma</a>
                            </div>
                        }
                        else
                        {
                            
                            
                            <div class="row mb-2">
                                <div class="col-md-12">
                                    @Html.DropDownListFor(x => x.UserID, users, "Indique o usuário", new{@class="form-control mt-2"})
                                    <span asp-validation-for="UserID" class="text-danger"></span>
                                </div> 
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-12">
                                    @Html.DropDownListFor(x => x.ClassID,classes, "Selecione o curso", new{@class="form-control mt-2"})
                                    <span asp-validation-for="ClassID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.TextBoxFor(x => x.Name, new {placeholder = "Nome do aluno",@class="form-control mt-2"})
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(x => x.Surname, new{placeholder = "Sobrenome do aluno",@class="form-control mt-2"})
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-outline-success">Criar</button>
                            </div>
                        }
                }
                </div>
            </form>
        </div>
    </div>
</div>